<h1>Add an Animal</h1>

<form action="/animals" method="post">

  <div>

    <div>
      <label for="name">Name:</label>
      <input type="text" name="name" id="name"/>
    </div>

    <!-- <div>
      <label for="d_o_b">D.O.B:</label>
      <input type="text" name="d_o_b" id="d_o_b"/>
    </div> -->
    <div>
      <label for="d_o_b">Date of birth:</label>
      <input type="date" id="d_o_b" name="d_o_b"
         min="1900-01-01" max="2100-12-31">
    </div>


    <div>
      <label for="type">Type:</label>
      <input type="text" name="type" id="type"/>
    </div>

    <!-- <div>
      <label for="notes">Notes:</label>
      <input type="text" name="notes" id="notes"/>
    </div> -->

    <div>
      <label for="notes">Notes:</label>
      <br>
      <textarea id="notes" name="notes" rows="5" cols="30">
      </textarea>
    </div>


    <div>
      <label>
        Select a vet:
        <select name="vet_id">
          <% for vet in @vets %>
          <option value="<%= vet.id %>"><%= vet.name %></option>
          <% end %>
        </select>
      </label>
    </div>

    <div>
      <label>
        Select a owner:
        <select name="owner_id">
          <% for owner in @owners %>
          <option value="<%= owner.id %>"><%= owner.name %></option>
          <% end %>
        </select>
      </label>
    </div>

    <div>
      <input type="submit" value="Submit"/>
    </div>

  </div>

</form>
