<h1>Edit <%= @vet.name %></h1>

<form action="/vets/<%= @vet.id %>" method="post">

  <div>

    <div>
      <label for="name">Name:</label>
      <input type="text" name="name" id="name"
      value="<%= @vet.name %>"/>
    </div>

    <div>
      <input type="submit" value="Submit"/>
    </div>

  </div>

</form>
