<h1>Vets</h1>

<table class="vet_table">
  <tr>
    <th>Name</th>
  </tr>
  <% for vet in @vets %>
  <tr>
    <td><a href="/vets/<%= vet.id %>"><%= vet.name %></a></td>
  </tr>
  <% end %>
</table>

<p>
<a href="/vets/new">Add a vet</a>
</p>



<!-- Will vet.pet not work because it's a hash not
a class? -->
<!-- Apparently .all does provide that special PG
combination of instances :) -->
