<h1>Add a Vet</h1>

<form action="/vets" method="post">

  <div>

    <div>
      <label for="name">Name:</label>
      <input type="text" name="name" placeholder="Vet's name" id="name"/>
    </div>

    <div>
      <input type="submit" value="Submit"/>
    </div>

  </div>

</form>
